<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Price Tracker </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static',filename='script.js')}}"></script>
</head>
<body>
   <!-- Corrected the 'from' to 'form' -->
   <form id="add-ticker-form">
       <input type="text" id="name-ticker" placeholder="Add Ticker" required>
       <button type="submit">Add</button>
    </form>
    
    <p id="timer">Next Update in <span id="counter"></span></p> <!-- Added the 'counter' span -->
    <div id="ticker-grid"></div> <!-- Corrected the ID here to 'ticker-grid' -->
</body>
</html>
